{$menu}
<table class="ow_table_1 ow_automargin" style="width: 80%;">
    <tbody>
    <th>Author</th>
    <th>Title</th>
    <th>Body</th>
    <th>Posted</th>
    </tbody>
    {foreach from=$notes item=note}
    <tr class="{cycle values='ow_alt1,ow_alt2'}">
        {capture assign='content'}
        {/capture}
        <td style="width: 10%">{decorator name='ipc' content=$content avatar = $avatars[$note.authorId]}<a href="{$userUrlsList[$note.authorId]}">{$userNamesList[$note.authorId]}</a></td>
        <td style="width: 20%">{$note.title}</td>
        <td style="width: 60%">{$note.body}</td>
        <td style="width: 10%">{$note.timestamp}</td>
    </tr>
    {/foreach}
</table>
{if $paging}<center>{$paging}</center>{/if}
