{$menu}
<div class="ow_blogpost_compose clearfix">

    <div class="ow_superwide ow_left">
        {form name="note_form"}
        <input type="hidden" id="save_post_command" name="command" />
        <table class="ow_table_1 ow_form ow_stdmargin">
            <tr class="ow_alt2 ow_tr_first">
                <td>
                    {label name="title"}<br />{input name='title'}
                    <br />{error name="title"}
                </td>
            </tr>
            <tr class="ow_alt1">
                <td>
                    {label name="body"}<br />
                    {input name='body'}
                    <br />{error name="body"}
                </td>
            </tr>
        </table>
        <div class="clearfix ow_stdmargin ow_submit ow_btn_delimiter">
            <div class="ow_right"> {submit name="send" class="ow_button ow_green ow_positive"}</div>
        </div>
        {/form}
    </div>

</div>